<<<<<<< HEAD
$main-color : #F66D75;

html, body {
	padding: 0;
	margin: 0;
	font-family: "Bellefair", serif;
	font-size: 1.1em;
}

#brand {
	font-size: 2em;
}

h1 {
    margin: 25px 0;
    text-align: center;
}

h2 {
    color: $main-color;
}

// Navigation bar
nav {
	width: 100%;
	padding-bottom: 0;
}
#navigation {
    padding-top: 0;
    padding-bottom: 25px;
    justify-content: center;
	
    ul {
    	@media screen and (max-width: 480px) {
		display: flex;
        text-align: center
	}
    	li {
    		padding: 0 15px 15px 15px;
    		font-size: 1.3em;
			
    		a {

    			&:hover {
    				color: $main-color;
    			}
    		}
    	}
    }
	@media screen and (max-width: 480px) {
    	justify-content: center;
	}

}
// CENTERING NAV
#center {
    justify-content: center;
}
#navbarTogglerDemo01 {
    justify-content: center;
    @media screen and (max-width: 480px) {
		justify-content: center;
	}
}

// Banner
#banner-mobile {
    display: none;
    @media screen and (max-width: 480px) {
		display: initial;
		size: cover; 
		width: 100%;
	}
}
#banner {
	width: 100%;
	@media screen and (max-width: 480px) {
		display: none;
	}
}

// GALLERY
.filter-button
{
    border: 1px solid $main-color;
    border-radius: 5px;
    text-align: center;
    color: $main-color;
    margin-bottom: 30px;
    background-color: #fff;
}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid $main-color;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: $main-color;
}
.btn-default:active .filter-button:active
{
    background-color: $main-color;
    color: white;
}
.port-image
{
    width: 100%;
}
.gallery_product
{
    margin-bottom: 30px;
}
#all {
	width: 100%;
}

#map {
   width: 70%;
   height: 400px;
   background-color: grey;
}

.ui.first.container {
    display: flex;
    .map {
        flex: 1 1 60%;
    }
    #map {
        height: 400px;
        width: 100%;
    }
    .info {
        flex: 1 1 30%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 25px;
        align-contents: center;
        text-align: center;
        h4 {
            font-size: 1.3em;
            padding: 5px;
        }
    }

}
hr {
    margin: 0;
}

#galerija {
    background-color: rgba(244, 174, 125, 0.7);
}

footer {
    background-color: rgba(244, 174, 125, 0.7);
    margin-top: 50px;
    height: 50px;
    display: flex;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

 @media screen and (max-width: 480px) {
        #gdjesmo {
            display: flex;
            flex-wrap: wrap;
            #map {
                width: 100%;
                flex: 1;
            }
            .info {
                width: 100%;
            }
        }

        footer {
            flex-wrap: wrap;
            height: auto;
            justify-content: center;
            margin-top: 25px;
            .container {
                width: 100%;
                text-align: center;
            }
        }

        .info {
            margin-top: 25px;
        }
    }

     @media screen and (max-width: 768px) {
        .footer {
            height: 150px;
            text-align: center;
        }
        #gdjesmo {
            flex-wrap: wrap;
            #map {
                width: 100%;
                flex: 2;
                margin-bottom: 20px;
            }
            .info {
                width: 100%;
                h2 {
                    width: 100%;
                }
            }
        }

     }
.btn:focus {
    outline: none;
    box-shadow: none;
=======
$main-color : #F66D75;

html, body {
	padding: 0;
	margin: 0;
	font-family: "Bellefair", serif;
	font-size: 1.1em;
}

#brand {
	font-size: 2em;
}

h1 {
    margin: 25px 0;
    text-align: center;
}

h2 {
    color: $main-color;
}

// Navigation bar
nav {
	width: 100%;
	padding-bottom: 0;
}
#navigation {
    padding-top: 0;
    padding-bottom: 25px;
    justify-content: center;
	
    ul {
    	@media screen and (max-width: 480px) {
		display: flex;
        text-align: center
	}
    	li {
    		padding: 0 15px 15px 15px;
    		font-size: 1.3em;
			
    		a {

    			&:hover {
    				color: $main-color;
    			}
    		}
    	}
    }
	@media screen and (max-width: 480px) {
    	justify-content: center;
	}

}
// CENTERING NAV
#center {
    justify-content: center;
}
#navbarTogglerDemo01 {
    justify-content: center;
    @media screen and (max-width: 480px) {
		justify-content: center;
	}
}

// Banner
#banner-mobile {
    display: none;
    @media screen and (max-width: 480px) {
		display: initial;
		size: cover; 
		width: 100%;
	}
}
#banner {
	width: 100%;
	@media screen and (max-width: 480px) {
		display: none;
	}
}

// GALLERY
.filter-button
{
    border: 1px solid $main-color;
    border-radius: 5px;
    text-align: center;
    color: $main-color;
    margin-bottom: 30px;
    background-color: #fff;
}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid $main-color;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: $main-color;
}
.btn-default:active .filter-button:active
{
    background-color: $main-color;
    color: white;
}
.port-image
{
    width: 100%;
}
.gallery_product
{
    margin-bottom: 30px;
}
#all {
	width: 100%;
}

#map {
   width: 70%;
   height: 400px;
   background-color: grey;
}

.ui.first.container {
    display: flex;
    .map {
        flex: 1 1 60%;
    }
    #map {
        height: 400px;
        width: 100%;
    }
    .info {
        flex: 1 1 30%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 25px;
        align-contents: center;
        text-align: center;
        h4 {
            font-size: 1.3em;
            padding: 5px;
        }
    }

}
hr {
    margin: 0;
}

#galerija {
    background-color: rgba(244, 174, 125, 0.7);
}

footer {
    background-color: rgba(244, 174, 125, 0.7);
    margin-top: 50px;
    height: 50px;
    display: flex;
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

 @media screen and (max-width: 480px) {
        #gdjesmo {
            display: flex;
            flex-wrap: wrap;
            #map {
                width: 100%;
                flex: 1;
            }
            .info {
                width: 100%;
            }
        }

        footer {
            flex-wrap: wrap;
            height: auto;
            justify-content: center;
            margin-top: 25px;
            .container {
                width: 100%;
                text-align: center;
            }
        }

        .info {
            margin-top: 25px;
        }
    }

     @media screen and (max-width: 768px) {
        .footer {
            height: 150px;
            text-align: center;
        }
        #gdjesmo {
            flex-wrap: wrap;
            #map {
                width: 100%;
                flex: 2;
                margin-bottom: 20px;
            }
            .info {
                width: 100%;
                h2 {
                    width: 100%;
                }
            }
        }

     }
.btn:focus {
    outline: none;
    box-shadow: none;
>>>>>>> c555c6dd4f5fba437fdcef7513bce95ec1ec9a6c
}